:root{
    /* --bs-gutter-x:50px; */
    --before-color:#07303a;
}

.breadcrumb{
    /* padding-top:70px; */
}
.myimage{
    padding-top: 50px;
    width: 100%;
    /* --bs-gutter-x:50%;
    --bs-gutter-y:0;
    padding-right:calc(var(--bs-gutter-x) * .5);
    padding-left:calc(var(--bs-gutter-x) * .5);
    margin-right:auto;margin-left:auto; */
    background-color: white;
}
.imgMyImage::before, .imgMyImage::after{
    /* content: "test"; */
    content:"";
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -15px;
    margin-right: -30px;
    /* outline: solid var(--before-color); */
    display: inline-block;
    color:white;
    background-color: var(--before-color);
    vertical-align: bottom;
    
}
.imgMyImage::before{
    left:0;
    width: 40% !important;
    height: 49px;
    z-index: 3;
}
.imgMyImage::after{
    right: 0;
    width: 40% !important;
    height: 43%;
    z-index: 0;
    border-radius: 90% 0 0 0;
    position: absolute;
    /* transform: rotate(-35deg); */
}
.imgMyImageimage{
    width: 29%;
    padding: 0;
    margin: 0;
}
body{
    padding-top: 56px;
}

@media only screen and (max-width:767px){
    .imgMyImageimage{
        width: 100%;
    }
    .imgMyImage::before, .imgMyImage::after{
        content: initial;
    }
    .breadcrumb{
        padding-top:20px;
    }
}